* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
}

/* ===== HEADER ===== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

.logo {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 2000;
}


nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-btn {
    padding: 10px 16px;
    background: #4caf50;
    border-radius: 5px;
    font-weight: bold;
}

/* ===== HAMBURGER ===== */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px,5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px,-6px);
}

/* ===== HERO ===== */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1630763143136-8ea7bdd1166c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


.opening {
    background: rgba(0,0,0,0.6);
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.hero-buttons button {
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.primary {
    background: #4caf50;
    color: white;
}

.secondary {
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* ===== STATS ===== */
.stats {
    display: flex;
    gap: 50px;
    background: rgba(0,0,0,0.6);
    padding: 20px 40px;
    border-radius: 10px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 28px;
}

.stat p {
    font-size: 14px;
    opacity: 0.8;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
    nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: rgba(0,0,0,0.9);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
    }

    nav.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
